body {
    font-family: 'Poppins', sans-serif;
}

.header {

    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: aliceblue;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}

.header-text {
    margin-left: 50px;
}

.header-text h1 {
    font-size: 70px;
}

button {
    background-color: #DD0000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    transition: ease-in-out 3s;
    outline: none;
}

button:hover {
    background-color: blueviolet;
    color: violet;
}

/***blog area****/

.button-area {
    margin-top: 80px;
    background-color: #161616;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;

}

.button-area a {
    display: block;
    margin-top: 5px;
    text-align: center;
    background-color: aliceblue;
    color: #161616;
    text-decoration: none;


    border: none;
    padding: 10px;
    border-radius: 5px;

    transition: ease-in-out 3s;
    outline: none;
}

.button-area a:hover {
    background-color: blueviolet;
    color: violet;
}


.counter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.counter-1 p {
    display: inline-block;

}

.blogs-area {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.blogs-area1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 20px;
    width: 500px;
}

.view {
    visibility: hidden;
}

/********footer**********/

footer {
    background-color: #161616;
    color: white;
    text-align: center;
    padding: 100px;
    margin-top: 80px;
}

.footer-text p {
    display: inline-block;
    margin-left: 20px;
}

.footer-img i {
    background-color: aliceblue;
    color: #161616;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;


}



/******Upcoming page*******/
.Upcoming-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
}

.blogs-flag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}



/***** media tablet ******/
@media only screen and (max-width: 600px) {
    .blogs-area {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs-area1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: 20px;
    }

    .button-area {
        flex-direction: row;
        background-color: white;

    }

    .view {
        visibility: visible;
    }

    .Upcoming-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 80px;
    }

    .blogs-flag {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

/******** media mobile********/
@media only screen and (max-device-width: 480px) {
    .header {
        flex-direction: column;
    }

    .blogs-area {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs-area1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-left: 20px;
    }

    .footer-text p {
        display: block;
        margin-left: 20px;
    }

    .view {
        visibility: hidden;
    }

    .blogs-flag {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

}